.tabs {
  background: transparent;
  display: flex;
  justify-content: space-around;
}


.tabs__tab {
  @extend .text--center;
  @extend .boton;
  @extend .boton--cyan;
  border-radius: 0;
  cursor: pointer;
  color: $negro4;
  flex-basis: 0;
  flex-grow: 1;
  height: 40px;
  line-height: 25px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover{
    color: $negro4;
  }

  &:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &:not(:last-child){
    border-right: 1px solid $cyan-opaco;
  }

  span {
    display: none;
  }

  @media(min-width: $reflex-md) {
    span {
      display: inline;
    }
  }

}

.tabs__tab--active {
  background: $fondo;
  color: $cyan-vivo;
  pointer-events: none;
}
