{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 5% in CR", "last 5 versions", "not ie <= 9"]
      },
      "cacheDirectory": true
    }]
  ],
  "plugins": ["envify"],
  "env": {
    "test": {
      "presets": ["env"],
      "plugins": ["istanbul"]
    },
    "development": {
      "plugins": ["envify"],
    },
    "production": {
      "plugins": ["envify"],
      "presets": ["minify"]
    }
  }
}
