@import "../../sass/base/colores";
@import "../../sass/base/helpers";

.cuadro-ingreso {
  align-items: center;
  flex-direction: column;
  background: url("/static/hero.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.cuadro-ingreso__body {
  @extend .sombra;
  background: transparentize($negro2, .2);
  border-radius: 4px;
  padding: 15px 0;
  width: 90%;

  @media (min-width: 992px) {
    padding: 1em;
    width: 400px;
  }
}

.login__label {
  font-size: 90%;
  font-weight: bolder;
}

.login__boton {
  margin-top: 15px;
  width: 96%;
}

.form__input--blanco {
  color: $blanco;
}

.logo-login{
  max-width: 100%;
  height: 220px;
}

.text--registro{
  padding-top: 1.5em;
}
